
.divider{
    width:320px;
    height:1px;
    background-color: #c9c9c9;
}
.title-styles{
    color: #297373;
    font-weight: 700;
    font-size:30px;
    line-height: 47px;
    font-family: 'Raleway', sans-serif;
}
.subtitle-styles{
    color: #00cec3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size:20px;
    line-height:24px;
}
.subtitle-styles-2{
    color: #00cec3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size:20px;
    line-height:24px;
    letter-spacing:15px;
}
.text-styles{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height:20px;
    font-size:17px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.card{
    border:2px solid #707070; 
    margin:20px;
    padding:30px;
    width:340px;
    height:300px;
}
.card:hover{
    border: 2px solid #df8600; 
}
.card-image{
    object-fit: contain;
    width:fit-content;
    height: fit-content;
}
.funciones{
    width: 100%;
    background-image:url(../../assets/funciones.png);
    background-size: cover;
    background-position: center center;
}
@media (max-width:768px){
    .subtitle-styles-2{
        color: #00cec3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size:17px;
        letter-spacing: 8px;
    }
    .title-styles{
        color: #297373;
        font-weight: 700;
        font-size:30px;
        line-height: 30px;
        font-family: 'Raleway', sans-serif;
    }
    .card{
        border:2px solid #707070; 
        margin:10px;
        padding:20px 0px;
        width:300px;
        height:270px;
    }
    .card-image{
        width: 90px !important;
        height:90px !important;
    }
    .subtitle-styles{
        color: #00cec3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size:17px;
        line-height:5px;
    }
    .text-styles{
        color: #707070;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height:20px;
        font-size:15px;
    }
}