.feature {
  width: 100%;
}
.featureImage {
  max-height: fit-content;
  width: fit-content;
  margin-top: -200px;
  position: relative;
  z-index: -100;
}
.divider {
  width: 280px;
  height: 1px;
  background-color: #c9c9c9;
}
.title-styles {
  color: #297373;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  font-family: "Raleway", sans-serif;
}
.subtitle-styles {
  color: #93bedf;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
}
.subtitle-styles-2 {
  color: #93bedf;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}
.text-styles {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 17px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.card {
  border: 2px solid #000;
  margin: 20px;
  padding: 30px;
  width: 340px;
  height: 300px;
}
@media (hover: hover) {
  .card:hover {
    border: 2px solid #df8600;
  }
}

.card-image {
  object-fit: contain;
  width: fit-content;
  height: fit-content;
}
.funciones {
  width: 100%;
  background-image: url(../../assets/funciones.png);
  background-size: cover;
  background-position: center center;
}
.funciones_text {
  padding: 0 150px;
}
.computadoras {
  object-fit: cover;
  max-width: 90%;
  max-height: 700px;
}
.infografia {
  max-width: 400px;
  max-height: 272px;
}
.puntitos {
  max-width: 450px;
}
.subtitle-infografia {
  color: #00cec3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
}
.text-infografia {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 18px;
  padding: 0 50px;
}
.infografia1 {
  background-image: url(../../assets/infografia1-bg.png) !important;
  background-size: 100% 90%;
  background-position: center center;
}
.fila-1 {
  display: none;
}

.infografia-container {
  min-height: 450px;
}
.bg-particles {
  background-image: linear-gradient(
      rgba(41, 115, 115, 0.8),
      rgba(41, 115, 115, 0.8)
    ),
    url(../../assets/particles.png);
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.personaliza {
  text-align: left;
  padding-left: 80px;
  padding-top: 80px;
  background-image: url(../../assets/personaliza.jpg);
  background-size: contain;
  min-height: 750px;
}
.personaliza2 {
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;
  background-image: url(../../assets/personaliza2.jpg);
  background-size: cover;
  min-height: 300px;
}
.personaliza_text {
  font-size: 45px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #93bedf;
}
.personaliza_text2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-bottom: 8px;
}
.personaliza_btn {
  display: none;
}

.personaliza_btn:focus {
  background-color: #93bedf !important;
}
.personaliza_btn:active {
  background-color: #93bedf !important;
}

@media (hover: hover) {
  .personaliza:hover {
    text-align: left;
    padding-left: 80px;
    padding-top: 80px;
    background-image: url(../../assets/personaliza2.jpg);
    background-size: contain;
    min-height: 750px;
  }
  .personaliza:hover .personaliza_text {
    font-size: 45px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
}
.funcionalidades_container {
  padding-bottom: 50px;
}
.funcionalidades_container .row {
  padding: 0px 45px;
}
.servicios {
  background-image: linear-gradient(
      rgba(41, 115, 115, 0.8),
      rgba(41, 115, 115, 0.8)
    ),
    url(../../assets/servicios-bg.jpg);
  background-size: fill;
  background-position: center center;
  padding: 50px 50px;
}
.servicio_col {
  padding: 10px;
}
.servicios_svg {
  max-height: 150px;
}
.servicios_titles {
  color: #f0d200;
  font-size: 25px;
  margin-bottom: 30px;
  min-height: 55px;
}
.list_items {
  font-size: 20px;
  color: #fff;
  text-align: justify;
}
.preguntas {
  padding: 50px 40px;
  background-image: url(../../assets/funciones.png);
  background-size: cover;
  background-position: center center;
}
.preguntas1 {
  max-width: 550px;
  object-fit: fill;
}
.preguntas2 {
  display: none;
}

@media (hover: hover) {
  .preguntas_parent:hover .preguntas1 {
    display: none;
  }
  .preguntas_parent:hover .preguntas2 {
    display: block;
    max-width: 550px;
  }
}

.preguntas_title {
  color: #93bedf;
  font-weight: bold;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.preguntas_text {
  color: #000;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .funcionalidades_container {
    display: none;
  }
  .subtitle-styles-2 {
    color: #93bedf;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 8px;
    line-height: 20px;
    padding: 30px !important;
  }
  .title-styles {
    color: #297373;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: "Raleway", sans-serif;
    padding-bottom: 10px;
  }
  .card {
    border: 2px solid #000;
    margin: 10px;
    padding: 30px 0px;
    width: 300px;
    height: 270px;
  }
  .card-image {
    width: 90px !important;
    height: 90px !important;
  }
  .subtitle-styles {
    color: #93bedf;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    padding-bottom: 10px;
  }
  .text-styles {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 18px;
  }
  .funciones_text {
    padding: 0px;
    text-align: center;
  }
  .funcionalidades_container .row {
    padding: 0px 20px !important;
  }
  .personaliza {
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    background-image: url(../../assets/personaliza.jpg);
    background-size: cover;
    min-height: 300px;
  }
  .personaliza_text {
    font-size: 20px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #93bedf;
    margin-bottom: 8px;
  }
  .personaliza_btn {
    display: block;
    background-color: #93bedf;
    border: none !important;
    width: 75px;
  }
  .eye {
    max-height: 30px;
  }
  .columna-1 {
    display: none;
  }
  .hidden_child {
    display: block;
  }
  .columna-2 {
    display: none;
  }
  .fila-1 {
    display: block;
  }
  .puntitos_recto {
    max-height: 150px;
  }
  .infografia {
    max-width: 300px;
    max-height: 272px !important;
  }
  .servicios {
    background-image: linear-gradient(
        rgba(41, 115, 115, 0.8),
        rgba(41, 115, 115, 0.8)
      ),
      url(../../assets/servicios-bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px 30px;
  }
  .servicios_fila {
    max-width: 100%;
    margin: 0;
  }
  .servicio_col {
    padding: 0px;
  }
  .preguntas {
    padding: 0px 30px;
  }
  .preguntas_parent {
    display: none;
  }
  .preguntas1 {
    max-width: 350px;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  .preguntas_title {
    font-size: 17px;
    color: #93bedf;
    font-weight: bold;
    text-align: left;
    font-family: "Raleway", sans-serif;
    text-align: justify;
  }
  .preguntas_text {
    color: #000;
    font-size: 15px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
  }
  .feature {
    display: none;
  }
}
