.navbar-container{
    position:absolute;
    width:100%;
    display: flex;
    justify-content: center;
    z-index:10;
}
.navbar-active{
    position:fixed;
    width:100vw;
    display: flex;
    justify-content: center;
    background-color:#297373;
    z-index: 10;
}
.navbar-toggler{
    border-color: #ffffff;
}
.logo-navbar{
    max-width: 200px;
    object-fit:contain;
}
@media (max-width:415px){
    .navbar-container{
        position: relative;
        background-color:#0F5959;
        width:100%;
        display: flex;
        justify-content: center;
        z-index:10;
    }
    .logo-navbar{
        max-width: 190px;
        object-fit:contain;
    }
}
.contacto{
    max-width: 120px;
}
.contacto:hover{
    color: #297373 !important;;
}
.banner{
    height:100vh;
    max-height: 810px;
    width: 100%; 
    background-image: url(../../assets/Imagen\ Landing.png);
   
}
.type{
    display:flex;
    justify-content: center;
    align-items: center;
   
    padding: 50px;
    text-align:center;
    width:100vw;
    min-height:500px;
}
.reel{
    width: 33px;
    height: 33px;
    border-radius:33px;
}
