.App{
    overflow-x: hidden;
}
.flotante{
    display: inline-block;
    min-width: 45px;
    min-height: 45px;
    border-radius:45px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: red;
    text-decoration: none;
}