.App{
    overflow-x: hidden;
}
.flotante{
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    border-radius:60px;
    position: fixed;
    bottom: 10px;
    left: 96%;
    color: red;
    text-decoration: none;
}